@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body{
   background-color: black;
   color: white;
}
.hero{
  background-image: url('../images/cow.jpg');
  height: 100vh;
  /* background-size: cover; means background e pictre full cover hoye jabe */
  background-size: cover; 
}

.hero h1{
  font-size: 100px;
  text-align: center;
  font-weight: 400;
  padding-top: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* word spacing = word e space dey
     letter spacing = letter e space dey */
  word-spacing: 40px;
  letter-spacing: 20px;
}

.article{
  width: 80%;   /* (means total jaygar 80% niye nise) */
  margin: 60px auto;
  background-color: rgb(117, 116, 50);
  padding: 60px;
  border: 15px solid wheat;
}
.article h2{
  text-align: center;
  font-size: 48px;
  border-bottom: 2px solid wheat;
  margin-bottom: 60px;
  padding-bottom: 30px;
  
}
.article p{
  font-size: 28px;
  line-height: 2em; 
  /* em means parent er height nibe.eikhane 2em means text height er double height gap dibe */
  /* inline element height width nite parena */
}